html
head 
title hello world!
body
h1 welcome to my page

form(action='/login', method='post')
    label Username:
    input(type='text', name='username')
    label Password:
    input(type='password', name='password')
    input(type='submit', value='Log In')

form(action='/signup', method='post')
    label Username:
    input(type='text', name='username')
    label Password:
    input(type='password', name='password')
    input(type='submit', value='Sign Up')

